@font-face {
  font-family: 'FuturaFuturisC';
  src: url('~@/assets/fonts/FuturaFuturisC.eot');
  src: url('~@/assets/fonts/FuturaFuturisC.eot') format('embedded-opentype'),
       url('~@/assets/fonts/FuturaFuturisC.woff') format('woff'),
       url('~@/assets/fonts/FuturaFuturisC.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'FuturaFuturisCondBoldC';
  src: url('~@/assets/fonts/FuturaFuturisCondBoldC.eot');
  src: url('~@/assets/fonts/FuturaFuturisCondBoldC.eot') format('embedded-opentype'),
       url('~@/assets/fonts/FuturaFuturisCondBoldC.woff') format('woff'),
       url('~@/assets/fonts/FuturaFuturisCondBoldC.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}

body{
  font-family: "FuturaFuturisC";
}
